@font-face {
    font-family:"SevenSegment";
    src: url("../fonts/ss.ttf") format("truetype");
  }

body, html {
    margin:0;
    padding:0;
    text-align: center;
    height:100%;
    width:100%;
    font-size: 48px;
}

#main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color:rgb(188, 211, 255);
}

#container {
    height:70%;
    width:27%;
    display:flex;
    flex-direction: column;
    gap:10px;
    background-color: #464646;
    padding: 45px;
    border-radius: 40px;
    border:2px solid black;
    box-shadow: 4px 5px 20px -1px #000000;
}

#display {
    background-color:rgb(95, 160, 114);
    height:20%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    border: 2px solid black;
    font-family:"SevenSegment";
}


#buttons {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #5251597e;
    height:80%;
    border: 2px solid black;
    border-radius: 10px;
    padding:15px;
}

button {
    width: 25%;
    height: 20%;
    font-size: 36px;
    border-radius: 10px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: 0px solid rgba(255, 255, 255, 0.281);
    margin:0px;
    text-align: center;
}

.numberButton {
    font-family: "SevenSegment";
}

.operatorButton {
    background-color: rgba(160, 124, 95, 0.2);
    border: 5px solid rgb(76,75,80);

}


button:active {
    border:5px solid white;
    background-color: rgb(95, 160, 114);
    color:white;
    transition: 0.1s;
}

@media (max-width:1400px) {
    #container {
        height:75%;
        width:75%;
        padding:25px;
    }
    #display {
        font-size:36px;
    }
    button {
        font-size: 20px;
    }

}

